/* Dashboard */

.dashboard-scope .dashboard-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.dashboard-scope .content {
  flex-basis: 68%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 1% 2%;
}

.dashboard-scope .funds {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dashboard-scope .funds p {
  font-size: 0..8rem;
  color: rgb(179, 179, 179);
  margin-right: 8px;
}

.dashboard-scope .btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  margin-right: 2px;
  margin-left: 2px;
}

.dashboard-scope .btn-green {
  background: #4caf50;
}

.dashboard-scope .btn-blue {
  background: #4184f3;
}

.dashboard-scope .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
}

.dashboard-scope .col {
  flex-basis: 48%;
  text-align: left;
}

.dashboard-scope .col span {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.dashboard-scope .section-icon {
  transform: scale(0.8);
  color: rgb(66, 56, 56);
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.dashboard-scope .col span p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}

.dashboard-scope .table {
  border: 1px solid #ddd;
  padding: 5% 8%;
}

.dashboard-scope .table .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-scope .table .data > * {
  margin-bottom: 5%;
}

.dashboard-scope .table .data p:first-child {
  font-size: 1rem;
  color: rgb(151, 151, 151);
}

.dashboard-scope .imp {
  font-size: 1.5rem;
  color: #313131;
}

.dashboard-scope .colored {
  color: #4184f3;
}

.dashboard-scope .table hr {
  border: none;
  background: #d1d1d1;
  height: 0.5px;
  margin-bottom: 5%;
}

.dashboard-scope .commodity {
  padding: 2% 8%;
  text-align: center;
}

.dashboard-scope .commodity p {
  margin-bottom: 10%;
  color: #c9c9c9;
}

/* sudo selectors */
.dashboard-scope .btn-blue:hover {
  background: #74a7fa;
}

.dashboard-scope .btn-green:hover {
  background: #7bdd7f;
}

.dashboard-scope .title {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(71, 71, 71);
  margin-bottom: 2%;
}

.dashboard-scope .order-table table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-scope .order-table tr {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.dashboard-scope .order-table th {
  text-align: right;
  padding: 15px 10px;
  color: rgb(145, 145, 145);
  font-weight: 300;
  font-size: 0.8rem;
}

.order-table tr th:first-child,
.dashboard-scope .order-table tr td:first-child {
  text-align: left;
}

.order-table tr th:nth-child(1),
.dashboard-scope .order-table tr th:nth-child(4) {
  border-right: 1px solid #f1f1f1;
}

.order-table tr td:nth-child(1),
.dashboard-scope .order-table tr td:nth-child(4) {
  border-right: 1px solid #f1f1f1;
}

.dashboard-scope .order-table tr td:last-child {
  font-size: 0.6rem;
}

.dashboard-scope .order-table td {
  padding: 10px 10px;
  text-align: right;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(73, 73, 73);
}

.dashboard-scope .align-left {
  text-align: left;
}

.dashboard-scope .order-table td.profit {
  color: rgb(72, 194, 55);
}

.dashboard-scope .order-table td.loss {
  color: rgb(250, 118, 78);
}

.dashboard-scope .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.dashboard-scope .col {
  flex-basis: 33%;
}

.dashboard-scope .col h5 {
  font-size: 1.8rem;
  color: rgb(71, 71, 71);
  font-weight: 300;
}

.dashboard-scope .col h5 span {
  font-weight: 300;
  font-size: 0.9rem;
}

.dashboard-scope .col p {
  font-size: 0.8rem;
  color: rgb(153, 153, 153);
  font-weight: 300;
  margin-top: 2%;
}

/* .dashboard-scope .row .col:last-child h5 {
  color: rgb(72, 194, 55);
} */

/* sudo selector */
.dashboard-scope .item:hover {
  cursor: pointer;
}

.dashboard-scope .menu-container {
  flex-basis: 68%;
  height: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-scope .logo {
  width: 30px;
  height: 20px;
}

.dashboard-scope .menus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard-scope .menus ul {
  list-style-type: none;
  margin-bottom: 0px;
}

.dashboard-scope .menus li {
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
}

.dashboard-scope .menus ul li p {
  margin-bottom: 0;
}

.dashboard-scope .menu {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(70, 70, 70);
}

.dashboard-scope .menu.selected {
  color: rgb(245, 104, 52);
}

.dashboard-scope hr {
  border-left: 0.8px solid rgb(243, 242, 242);
  height: 30px;
}

.dashboard-scope .profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
}

.dashboard-scope .profile .avatar {
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(221, 139, 221);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  background: rgb(252, 229, 252);
  margin-right: 8px;
}

.dashboard-scope .profile .username {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0;
}

/* sudo selectors */

.dashboard-scope .menu:hover {
  color: rgb(245, 104, 52);
}

.dashboard-scope .profile:hover {
  cursor: pointer;
}

.dashboard-scope .profile:hover .username {
  cursor: pointer;
  color: rgb(223, 91, 43);
}

.dashboard-scope .orders {
  width: 100%;
  height: 90vh;
}

.dashboard-scope .no-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-scope .no-orders .icon {
  transform: scale(4);
  color: rgb(173, 173, 173);
  display: block;
}

.dashboard-scope .no-orders p {
  margin-top: 6%;
  color: rgb(173, 173, 173);
  font-size: 1rem;
  font-weight: 300;
}

.dashboard-scope .btn {
  text-decoration: none;
  background: rgb(77, 77, 248);
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  margin-top: 2%;
}

.dashboard-scope .btn:hover {
  background: rgb(110, 110, 253);
}

.dashboard-scope .title {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(71, 71, 71);
  margin-bottom: 2%;
}

.dashboard-scope .order-table table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-scope .order-table tr {
  border-top: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
}

.dashboard-scope .order-table th {
  text-align: right;
  padding: 15px 10px;
  color: rgb(145, 145, 145);
  font-weight: 300;
  font-size: 0.8rem;
}

.order-table tr th:first-child,
.dashboard-scope .order-table tr td:first-child {
  text-align: left;
}

.dashboard-scope .order-table tr td:first-child p {
    background: rgb(255, 197, 197);
    color: rgb(233, 120, 120);
    width: 50%;
    text-align: center;
    border-radius: 2px;
}

.dashboard-scope .order-table tr td:last-child {
  font-size: 0.6rem;
}

.dashboard-scope .order-table td {
  padding: 10px 10px;
  text-align: right;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(73, 73, 73);
}

.dashboard-scope .align-left {
  text-align: left;
}

.dashboard-scope .order-table td.profit {
  color: rgb(72, 194, 55);
}

.dashboard-scope .order-table td.loss {
  color: rgb(250, 118, 78);
}

.dashboard-scope .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.dashboard-scope .col {
  flex-basis: 33%;
}

.dashboard-scope .col h5 {
  font-size: 1.8rem;
  color: rgb(71, 71, 71);
  font-weight: 300;
}

.dashboard-scope .col h5 span {
  font-weight: 300;
  font-size: 0.9rem;
}

.dashboard-scope .col p {
  font-size: 0.8rem;
  color: rgb(153, 153, 153);
  font-weight: 300;
  margin-top: 2%;
}

/* .dashboard-scope .row .col:last-child h5 {
  color: rgb(72, 194, 55);
} */

/* sudo selector */
.dashboard-scope .item:hover {
  cursor: pointer;
}

.dashboard-scope .username h6 {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(83, 83, 83);
  margin-bottom: 20px;
}

.dashboard-scope .divider {
  border: none;
  background: #d1d1d1;
  height: 1px;
  margin: 20px 0;
  margin-bottom: 5%;
}

.dashboard-scope .section {
  padding-bottom: 2%;
}

.dashboard-scope .section span {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.dashboard-scope .section span p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}

.dashboard-scope .section-icon {
  transform: scale(0.8);
  color: rgb(112, 112, 112);
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.dashboard-scope .data {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard-scope .data .first h3 {
  font-size: 2.5rem;
  font-weight: 300;
  color: rgb(71, 71, 71);
}

.dashboard-scope .data .first p {
  font-size: 0.8rem;
  color: rgb(136, 136, 136);
}

.dashboard-scope .data .first small {
  font-size: 0.8rem;
  color: rgb(72, 194, 55);
}

.dashboard-scope .data .first .profit {
  color: rgb(72, 194, 55);
}

.dashboard-scope .data hr {
  border-left: 0.6px solid rgb(243, 242, 242);
  height: 70px;
}

.dashboard-scope .data .second p {
  font-size: 0.8rem;
  color: rgb(136, 136, 136);
  margin-bottom: 10px;
  white-space: nowrap;
}

.dashboard-scope .data .second p span {
  display: inline;
  margin-left: 5%;
  font-size: 0.9rem;
  color: rgb(100, 100, 100);
}

.dashboard-scope .section hr {
  margin-top: 6%;
}

.dashboard-scope .topbar-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgb(236, 235, 235);
  box-sizing: border-box;
  z-index: 9;
}

.dashboard-scope .indices-container {
  flex-basis: 32%;
  height: 100%;
  padding: 10px 20px;
  border-right: 1px solid rgb(224, 224, 224);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dashboard-scope .nifty {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: -2;
}

.dashboard-scope .sensex {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nifty > *,
.dashboard-scope .sensex > * {
  margin-right: 8px;
}

.dashboard-scope .index {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(97, 97, 97);
  white-space: nowrap;
}

.dashboard-scope .index-points {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(223, 73, 73);
}

.dashboard-scope .percent {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(146, 146, 146);
}

/* sudo selectors */
.dashboard-scope .index:hover {
  cursor: pointer;
}

.dashboard-scope .watchlist-container {
  flex-basis: 32%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 1px rgb(236, 235, 235);
  overflow-y: auto;
  position: relative;
}

.dashboard-scope .search-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.dashboard-scope .search {
  width: 100%;
  height: 6%;
  border: none;
  padding: 15px 20px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(241, 241, 241);
  border-bottom: 0.8px solid rgb(235, 234, 234);
}

.dashboard-scope .counts {
  position: absolute;
  right: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(177, 177, 177);
}

.dashboard-scope .list {
  list-style-type: none;
  padding-bottom: 12%;
}

.dashboard-scope .list li {
  border-bottom: 0.8px solid rgb(235, 234, 234);
  padding: 12px 10px 12px 14px;
  position: relative;
}

.dashboard-scope .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.8rem;
  position: relative;
}

.dashboard-scope .item-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard-scope .item-info > * {
  margin-right: 8px;
}

.dashboard-scope .item-info span:nth-child(1) {
  color: rgb(141, 141, 141);
  flex: 1;
}

.dashboard-scope .item-info span:nth-child(2) {
  color: rgb(223, 73, 73);
  margin-right: 12px;
  flex: 2;
}

.dashboard-scope .item-info span:nth-child(3) {
  color: rgb(223, 73, 73);
  flex: 1;
}

.dashboard-scope .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  display: none;
}

.dashboard-scope .actions button {
  width: 40px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  margin-right: 8px;
  cursor: pointer;
}

.dashboard-scope .buy {
  background-color: #4184f3;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  border: 0.7px solid #4184f3;
}

.dashboard-scope .sell {
  background-color: #ff5722;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  border: 0.7px solid #ff5722;
}

.dashboard-scope .action {
  background-color: #fff;
  border: 0.7px solid #9b9b9b;
}

.dashboard-scope .icon {
  transform: scale(0.7);
  color: rgb(65, 65, 65);
}

.dashboard-scope .watchlist-number {
  height: 6%;
  width: 32%;
  box-sizing: border-box;
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  bottom: 1px;
  padding: 20px 20px 20px 0;
  left: 0;
  border: 1px solid rgb(231, 231, 231);
  z-index: 5;
  background: #fff;
}

.dashboard-scope .watchlist-number ul {
  list-style-type: none;
}

.dashboard-scope .watchlist-number ul li {
  display: inline-block;
  padding: 10px 20px;
  border-right: 1px solid rgb(231, 231, 231);
}

.dashboard-scope .watchlist-number ul li:nth-child(1) {
  color: rgb(223, 73, 73);
}

.dashboard-scope .down {
  color: rgb(223, 73, 73);
}

.dashboard-scope .up {
  color: rgb(103, 201, 136);
}

.dashboard-scope .settings {
  transform: scale(0.8);
  color: rgb(105, 105, 105);
}

/* sudo selectors */
.dashboard-scope .search:focus {
  outline: none;
}

.dashboard-scope .list li:hover {
  cursor: move;
  background-color: #f3f3f3;
}

.dashboard-scope .list li:hover > .actions {
  display: flex;
  cursor: move;
}

/* TODO */
.dashboard-scope .list li::before {
  content: "";
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.dashboard-scope .watchlist-number ul li:hover {
  color: rgb(245, 104, 52);
  cursor: pointer;
  background: rgb(243, 243, 243);
}

.dashboard-scope .settings:hover {
  cursor: pointer;
}

.dashboard-scope .action:hover {
  background-color: rgb(212, 212, 212);
}

/* Modal */

.dashboard-scope .custom-modal-backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* optional dimmed background */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.dashboard-scope .custom-modal-form {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  animation: slideUp 0.3s ease-out;
}

.dashboard-scope .modalBuy {
  color: rgb(72, 194, 55);
}
.dashboard-scope .modalSell{
  color: rgb(250, 118, 78);
}

.dashboard-scope .custom-modal-form input:nth-child(odd){
  border: none;
  text-align: center;
  font-size: larger;
  background-color: white;
}


.dashboard-scope .custom-modal-form input:nth-child(even){
  padding: 20px;
}

.dashboard-scope .btn-group {
  display: flex;
  justify-content:end;
  gap: 1rem;
}

 @keyframes slideUp {
 from {
    transform: translateY(100%);
    opacity: 0;
  }
   to {
    transform: translateY(0);
    opacity: 1;
  }
}



